# Server Environment
PORT=10000
NODE_ENV=production
LOG_LEVEL=info
SWAGGER_ENABLED=true

# Database Configuration (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres.qapnykkhuwnuxjzltuqb:oynxd1RSCXz1I2Xg@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
DATABASE_TYPE=postgres
DB_SSL=true

# PNS Push Gateway Mode
# Set to false to dispatch live web push / mobile push
PUSH_MOCK_MODE=false

# Web Push VAPID Keypair (RFC 8292)
VAPID_PUBLIC_KEY=BMP47yhOvCtTsM2PDhjzS24qzmqQnl10vqy7nIkUAPQ3QvmWutaMnyUflJuu7qXynjnWk_YdklzX1rN7loyBUvw
VAPID_PRIVATE_KEY=DO2MK4W9HRzCJpUraN8KXXcnxz2NZvd2jDEHVYfwLbY
VAPID_SUBJECT=mailto:admin@gametunekit.com
